@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: "Montserrat"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  color: rgba(31, 32, 65, 0.5); }

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%; }

.header__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin-top: 0.937rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  padding-left: 1.125rem; }

.menu-header__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.menu-header__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  font-size: 14px;
  padding-top: 1.125rem; }

.menu-header__link {
  padding-right: 1.25vw;
  white-space: nowrap; }

.link-menu-header__icon {
  padding: 5px 6px; }

.bottom-header__login {
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  border-radius: 22px;
  padding: 0.5rem 1.125rem;
  background: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }

.bottom-header__register {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: -webkit-linear-gradient(#BC9CFF, #8BA4F9);
  background: -o-linear-gradient(#BC9CFF, #8BA4F9);
  background: linear-gradient(#BC9CFF, #8BA4F9);
  border-radius: 22px;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }

.menu-header-dropdown__item--icon {
  display: none; }

@media screen and (max-width: 850px) {
  .menu-header--no {
    display: none; }
  .menu-header-dropdown__item--icon {
    display: block;
    margin: -0.3rem 1.125rem; }
  .menu-header-dropdown:hover__item {
    display: block;
    font-size: 16px; } }

@media screen and (max-width: 499px) {
  .menu-header__list--bottom {
    display: none; } }

a {
  color: inherit; }
