.room-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;

	&__number {
		@extend .font-h1;

		&:before {
			content: '№ ';
			@include fontSize(14px);
		}

		&--suite {
			&:after {
				content: ' люкс';
				@extend .font-h3;
				color: $purple-color;
			}
		}


	}

	&__price {
		@include font-body($f-size: 14px, $weight: 400, $l-height: 18px);
		color: $dark-color-50;
		font-weight: 700;

		&:after {
			content: ' в сутки';
			font-weight: 400;
		}
	}
}