.rooms-dropdown
	.rooms-dropdown__text
		h3.rooms-dropdown__title date Dropdown
	form.rooms-dropdown__form
		input.rooms-dropdown__input(type='text' value="2 спальни, 2 кровати...")
		button.rooms-dropdown__button(type='button')
			img(src='assets/img/dropdown.svg', alt='')

<div class="stepper stepper--style-2 js-spinner">
	<input autofocus type="number" min="0" max="3" step="1" value="0" class="stepper__input">
	<div class="stepper__controls">
		<button type="button" spinner-button="up">+</button>
		<button type="button" spinner-button="down">−</button>
	</div>
</div>