//- mixin button-pagination(text= '1', addClassA='', type='start')
//-     - let addClassB = (type == 'start') ? 'button--pagination--start' : 'button--pagination--finish'
//-     button(class= ['button', 'button--pagination', addClassA, addClassB])= text