.date-filter {
	max-width: 266px;
	position: relative;

	&__input {
		border: -rem(1px) solid $dark-color-25;
		border-radius: 4px;
		width: 100%;
		height: 44px;
		padding: 0 -rem(15px);
		color: $dark-color-75;
	}

	&__button {
		position: absolute;
		right: 0px;
		width: 44px;
		height: 44px;
		border-radius: 4px;
	}
}

// ==States==

.date-filter {

	&__input::placeholder {
		color: $dark-color-25;
	}

	&__input:hover {
		border: -rem(1px) solid $dark-color-50;
	}

	&__input:focus {
		@include focus;
	}

	&__input:focus::placeholder {
		color: $dark-color-75;
	}
}