include footer/footer-en
include footer/footer-simple
include footer/footer-copyright
include footer/footer

include header/header-en
include header/header-log
include header/header

include head