.header {
	&__body {

		// height: 70px;
		@include flexbox;
		margin-top: 0.937rem;
		justify-content: space-between;
	}
	&__logo {
		padding-left: 1.125rem;
	}
}

.menu-header {
	&__menu {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
	}
	&__list {
		@include flexbox;
		font-size: 14px;
		padding-top: 1.125rem;
	}
	&__link { //:not(:last-child) На всякий случай если будут проблемы у отступа справа, элемента "Зарегистрироваться"
		padding-right: 1.25vw;
		white-space: nowrap
	}
}

.link-menu-header {
	&__icon {
	padding: 5px 6px; // ТУТ-Костыль: подумать как оцинтровать стрелку выпадающего меню
	}
}

.bottom-header {
	&__login {
		color: #BC9CFF;
		border: 2px solid #BC9CFF; // Нужно сделать градиент
		border-radius: 22px;
		padding: 0.5rem 1.125rem;
		background: #ffffff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;

	}
	&__register {
		color: #ffffff;
		background: linear-gradient(#BC9CFF, #8BA4F9);
		border-radius: 22px;
		padding: 0.625rem 1.25rem;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
	}
}

// ---------------------------------

@media screen and (max-width: 850px) { // Скрываю меню
	.menu-header {
		&--hiding {
		display: none;
		}
		&__list--bottom {// Скрываю кнопку Войти и Зарегестрироваться из навигации
			display: none;
		}
	}
	.wrapper-burger {
		font-size: 14px;
		display: block;
	}
}

// @media screen and (max-width: 480px) { 
// 	.wrapper-burger {
// 		width: 170px;
		
// 		}
// 	.dropdown-menu {
// 		font-size: 10px;
// 	}
// }


