.container {

}
.header {
	&__body {
		// @include flexbox;
		display: flex;
		padding-top: 15px;
	}
	&__column {

	}
	&__logo {
		padding-right: 285px;
	}
}
.menu-header {
	&__menu {}
	&__list {
		display: flex;
		font-size: 14px;
	}
	&__link { //:not(:last-child)   На всякий случай если будут проблемы у отступа справа, элемента "Зарегистрироваться"
		padding-right: 20px;
	}
}
.bottom-header {
	&__login {}
	&__register {}
}
.dropdown-menu-header {
		&--thumbnail { // Придумать другое название модификатора(Какой?)
			padding:3px 6px; // ТУТ-Костыль: подумать как оцинтровать стрелку выпадающего меню
		}
}