.container {}
.header {
	&__body {
		@include flexbox;
		margin-top: 0.937rem;
		justify-content: space-between;
	}
	&__column {}
	&__logo {
		padding-left: 1.125rem;
	}
}

.menu-header {
	&__menu {
		@include flexbox;
	}
	&__list {
		@include flexbox;
		font-size: 14px;
		padding-top: 1.125rem;
	}
	&__link { //:not(:last-child) На всякий случай если будут проблемы у отступа справа, элемента "Зарегистрироваться"
		padding-right: 1.25vw;
		white-space: nowrap
	}
}

.link-menu-header {
	&__icon {
	padding: 5px 6px; // ТУТ-Костыль: подумать как оцинтровать стрелку выпадающего меню
	}
}

.bottom-header {
	&__login {
		color: #BC9CFF;
		border: 2px solid #BC9CFF; // Нужно сделать градиент
		border-radius: 22px;
		padding: 0.5rem 1.125rem;
		background: #ffffff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;

	}
	&__register {
		color: #ffffff;
		background: linear-gradient(#BC9CFF, #8BA4F9);
		border-radius: 22px;
		padding: 0.625rem 1.25rem;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
	}
}
.menu-header-dropdown {
	&__list {
		text-align: right;
		margin-left: -4.25rem;
	}
	&__item {
		padding-bottom: 1rem;
		text-align: right;
		position: absolute;
	}
	&__icon {
		display: none;
	}
}

.menu-header-dropdown{
	&__list:hover {
		font-size: 12px;

	}
	&__icon {}
	&__item:hover{
		position: inherit;
	}
}

.menu-header-dropdown {// Скрываю меню
	&__login {font-size: 0px;}
	&__register {font-size: 0px;}
}
// ---------------------------------

@media screen and (max-width: 850px) { // Скрываю меню, раскрываю иконку меню
	.menu-header--no {
		display: none;
	}
	.menu-header-dropdown {
		&__icon {
			display: block;
		}
	}
	.menu-header-dropdown:hover {
		&__item {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 520px) { 
	.menu-header {// Скрываю кнопку Войти и Зарегестрироваться из навигации
		&__list--bottom {
			display: none;
		}
	}
	.menu-header-dropdown {  // Добавляю кнопку Войти и Зарегестрироваться в выпадающее меню
	&__login {font-size: 12px;}
	&__register {font-size: 12px;}
}
}


