.main {
	&--wrapper-background {
		background-image: url(../img/background/image-1.jpg);
		background-size: cover;
		background-position: center center;
		width: 100%;
		
	}
}

.main {
	&__body {
		padding-top: 70px;
		height: 100vh;
		max-height: 830px;
		@include flexbox;
		flex-direction: column;
	}
}

.body-main {
	&__form {
		width: 100%;
		max-width: 380px;
		height: 374px;
		background-color: #fff;
		border: 1px solid;
		
	}
	&__epigraph {
		margin-top: auto;
		margin-left: auto;
		text-align: right;
		max-width: 297px;
	}
}

