.text-field {
	&__input {
		max-width: 320px;
		width: 100%;
		height: 44px;
		padding: 0 -rem(15px);

		color: $dark-color-75;
		border-radius: -rem(4px);
		border: -rem(1px) solid $dark-color-25;
	}
	&__input::placeholder {
		color: $dark-color-25;
	}
	&__input:hover {
		border: -rem(1px) solid $dark-color-50;
	}
	&__input:focus {
		@include focus(2px)
	}
	&__input:focus::placeholder {
		color: $dark-color-75;
	}
}

.text-field-subscribe {
	max-width: 267px;
	position: relative;
	&__button {
		width: 44px;
		height: 44px;
		border-radius: 10%;
		position: absolute;
		right: 0px;
		background-image: url(../assets/img/button/arrow.svg);
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
	}
}