include ../../elements/buttons/checkbox/checkbox--rich.pug
+component('Rich Checkbox Buttons')
.checkbox-buttons
	ul.checkbox-buttons__list
		li.checkbox-buttons__item
			+checkboxRich('Широкий коридор', 'Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см.', 'corridor',  false, false)
		li.checkbox-buttons__item
			+checkboxRich('Помощник для инвалидов', 'На&nbsp;1 этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.', 'assistant', false, false)