include ../../elements/buttons/checkbox/checkbox.pug
.checkbox-buttons
	h3.checkbox-buttons__title
		| Checkbox Buttons
	ul.checkbox-buttons__list
		li.checkbox-buttons__item
			+checkbox('Можно курить', false)
		li.checkbox-buttons__item
			+checkbox('Завтрак', true)
		li.checkbox-buttons__item
			+checkbox('Можно пригласить гостей (до 10 человек)', true)