.main {
	&--wrapper-background {
		background-image: url(/../assets/img/background/image-1.jpg);
		background-size: cover;
		background-position: center center;
		width: 100%;
		
	}
}

.main {
	&__body {
		padding-top: 70px;
		height: 100vh;
		max-height: 830px;
		display: flex;
		flex-direction: column;
	}
}

.body-main {
	&__form {
		width: 100%;
		max-width: 380px;
		height: 374px;//delite
		background-color: #fff;
		padding: 30px 30px 40px 30px;
	}
	&__epigraph {
		margin-top: auto;
		margin-left: auto;
		text-align: right;
		max-width: 297px;
	}
}

.epigraph-main {
	&__text {
		font-style: normal;
		color: rgb(31, 32, 65);
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
}

.form-main {
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1F2041;
		margin-bottom: 20px;
	}
	&__date {
		display: flex;
		justify-content: space-between;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		margin-bottom: 21px;
	}
	&__guests {
		margin-bottom: 45px;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		color: #FFFFFF;
		background: linear-gradient(#BC9CFF, #8BA4F9);
		border-radius: 22px;
		padding: 0.625rem 1.125rem;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		max-width: 320px;
	}
}
.date-form-main {
	&__arrival {}
	&__departure {}
}

.arrival-date-for {
	&__title {
		margin-bottom: 6px;
	}
	&__calendar {
		max-width: 150px;
		height: 44px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		font-size: 14px;
		color: rgba(31, 32, 65, 0.75);
		padding-left: 15px;
	}
}
.guests-form-main {
	&__input {
		width: 100%;
		max-width: 320px;
		height: 44px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		padding-left: 15px;
		color: rgba(31, 32, 65, 0.75);
		font-size: 14px;
	}
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		margin-bottom: 6px;
	}
}
.bottom-form-main {
	&__link {
		
	}
}
