.main {
	&--wrapper-background {
		background-image: url(/../assets/img/background/image-1.jpg);
		background-size: cover;
		background-position: center center;
		width: 100%;
		min-height: 500px;
	}
}

.main {
	&__body {
		padding-top: 70px;
		height: 100vh;
		max-height: 830px;
		display: flex;
		flex-direction: column;
	}
}

.body-main {
	&__form {
		width: 100%;
		max-width: 382px;
		background-color: #fff;
		padding: 40px 30px 30px;
		border-radius: 4px;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.12);
	}
	&__epigraph {
		margin-top: auto;
		margin-left: auto;
		margin-bottom: 3px;
		text-align: right;
		max-width: 297px;
	}
}

.epigraph-main {
	&__text {
		font-style: normal;
		color: rgb(31, 32, 65);
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
}

.form-main {
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1F2041;
		margin-bottom: 20px;
	}
	&__date {
		display: flex;
		justify-content: space-between;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		margin-bottom: 20px;
	}
	&__guests {
		margin-bottom: 30px;
		position: relative;
	}
	&__bottom {
		color: #FFFFFF;
		background: linear-gradient(#BC9CFF, #8BA4F9);
		border-radius: 22px;
		height: 44px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		max-width: 320px;
		width: 100%;
		position: relative;
	}
}
.bottom-form-main {
	&__icon {
		position: absolute;
		right: 14px;
		top: 13px;
	}
}
.date-form-main {
	&__arrival {
		position: relative;
		margin-right: 10px;
	}
	&__departure {
		position: relative;
	}
}

.arrival-date-for {
	&__title {
		margin-bottom: 6px;
	}
	&__dropdown {
		background: #FFFFFF;
		position: absolute;
		right: 2px;
		bottom: 1px;
		width: 44px;
		height: 41px;
		border-radius: 4px;
	}
	&__calendar {
		max-width: 150px;
		width: 100%;
		height: 44px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		font-size: 14px;
		color: rgba(31, 32, 65, 0.75);
		padding-left: 15px;
	}
}
.guests-form-main {
	&__input {
		width: 100%;
		max-width: 320px;
		height: 44px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		padding-left: 15px;
		color: rgba(31, 32, 65, 0.75);
		font-size: 14px;
	}
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		margin-bottom: 6px;
	}
}

