.bullet {
	width: 260px;

	&__title {
		@extend .font-h3;
	}

	// &__list {}
	// &__item {}
	&__box {
		vertical-align: top;
		display: inline-block;
		margin-top: -rem(7px);
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $dark-color-25;
	}

	&__text {
		max-width: 240px;
		display: inline-block;
		margin-left: -rem(10px);
		@extend .font-body;
	}
}