.buttons {
    &__list {
        padding-top: -rem(10px);
    }

    &__item {
        max-width: 320px;
        display: flex;
        justify-content: space-between;
        padding-bottom: -rem(30px);

        &--middle {
            max-width: 220px;
        }
        
        &--small {
            max-width: 142px;
        }
    }
}