.details {
	max-width: 280px;
	display: flex;


	&__logo {
		width: 40px;
		height: 40px;
		padding: -rem(4px) -rem(4px);
		margin-right: -rem(10px);
		margin-bottom: -rem(20px);
	}

	&__text {
		@extend .font-body;
	}

	&__title {
		font-weight: 700;
	}

	// &__subtitle {}
}