// Кнопка войти
.identification-header {
	&__login {
		color: #BC9CFF;
		border: 2px solid #BC9CFF; // Нужно сделать градиент
		border-radius: 22px;
		padding: 0.5rem 1.125rem;
		background: #ffffff;
	}
}