.pagination {
	text-align: center;

	&__list {
		display: flex;
		margin-bottom: -rem(5px);
	}

	// &__item {}
	&__page {
		display: flex;
	}

	&__quantity {
		@extend .font-body;
	}

	&__button {
		display: none;
		width: 40px;
		height: 40px;
		color: $dark-color-50;
		font-weight: 400;
		border-radius: 4px;
		@extend .font-h3;

		&--previous {
			// display: none;
			border-radius: 50%;
			position: relative;
			background: $gradient-color-pagination;
			margin: -rem(1px);

		}



		&--active {
			border-radius: 50%;
			background: $gradient-color;
			color: rgb(255, 255, 255);
			font-weight: 700;
		}

		&--next {
			display: block;
			border-radius: 50%;
			position: relative;
			background: $gradient-color-pagination;
			transition-duration: .1s;
			margin: -rem(1px);
		}
	}

	&__point {
		@extend .pagination__button;
		cursor: default;
	}
}


// ==States==

.pagination {
	&__button {
		&--previous {
			&:active {
				background: $gradient-color-pagination-click;
			}

			&:before {
				width: 100%;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin-left: -rem(-12px);
				background-image: url(../assets/img/button/arrow__white.svg);
				background-repeat: no-repeat;
				background-position-x: left;
				background-position-y: center;
				transform: rotate(180deg);
			}
		}



		&--active {
			&:active {
				background: $gradient-color-click;
			}
		}

		&--next {
			&:active {
				background: $gradient-color-pagination-click;
			}

			&:before {
				width: 100%;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin-left: -rem(-12px);
				background-image: url(../assets/img/button/arrow__white.svg);
				background-repeat: no-repeat;
				background-position-x: right;
				background-position-y: center;
			}
		}
	}
}