.slider {
    max-width: 266px;

    &__text {
        @extend .font-h3;
        padding-bottom: -rem(20px);
        display: flex;
        justify-content: space-between;
    }

    &__value {
        color: $dark-color-50;
        font-weight: 400;
    }

    &__desc {
        @include font-body($f-size: 12px, $weight: 400, $l-height: 14px);
        color: $dark-color-50;
        display: inline-block;
        margin-top: 10px;
    }
}