section.footer__body.footer-body
	.footer-body__logo
		img(src="assets/img/logo.svg", alt="#")
		p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
	ul.footer-body__nav
		li.footer-body__list.footer-body-list
			h2.footer-body-list__title навигация
			a.footer-body-list__link(href="") О нас
			a.footer-body-list__link(href="") Новости
			a.footer-body-list__link(href="") Служба поддержки
			a.footer-body-list__link(href="") Услуги
		li.footer-body__list.footer-body-list
			h2.footer-body-list__title о нас
			a.footer-body-list__link(href="") О сервисе
			a.footer-body-list__link(href="") Наша команда
			a.footer-body-list__link(href="") Вакансии
			a.footer-body-list__link(href="") Инвесторы
		li.footer-body__list.footer-body-list
			h2.footer-body-list__title Служба поддержки
			a.footer-body-list__link(href="") Соглашения
			a.footer-body-list__link(href="") Сообщества
			a.footer-body-list__link(href="") Связь с нами
		li.footer-body__list.footer-body-list
			h2.footer-body-list__title Подписка
			span.footer-body-list__title Получайте специальные предложения и новости сервиса
			input.footer-body-list__email(type='text' value="Email")
			img(src="assets/img/arrow.svg", alt="")
section.footer__copyright.footer-copyright
	p.footer-copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
	.footer-copyright__socials
		img(src="assets/img/twiter.svg", alt="")
		img(src="assets/img/facebook.svg", alt="")
		img(src="assets/img/instagram.svg", alt="")
