section.body-main__form.form-main
	h1.form-main__title Найдём номера под ваши пожелания
	.form-main__date.date-form-main
		.date-form-main__arrival.arrival-date-form
			h3.arrival-date-for__title Прибытие
			input.arrival-date-for__calendar.datepicker-here(type='text' value="ДД.ММ.ГГГГ")
		.date-form-main__departure.departure-date-form
			h3.arrival-date-for__title Выезд
			input.arrival-date-for__calendar.datepicker-here(type='text' value="ДД.ММ.ГГГГ")
	.form-main__guests.guests-form-main
		h3.guests-form-main__title Гости
		input.guests-form-main__input(type='text' value="Сколько гостей")
	.form-main__bottom.bottom-form-main
		a.bottom-form-main__link(href='#') Подобрать номер
		img(src="assets/img/arrow.svg", alt="")
p.body-main__epigraph.epigraph-main
	em.epigraph-main__text Лучшие номера для вашей работы, отдыха и просто вдохновения