.like-group
	h3.like-group__title
		| like Buttons
	ul.like-group__list
		li.like-group__item
			label.like
				input.like__input(type='checkbox', value='value-toggle', checked)
				span.like__box
				span.like__text
					| 12
		li.like-group__item
			label.like
				input.like__input(type='checkbox', value='value-toggle')
				span.like__box
				span.like__text
					| 2