.subscription-toggle
	h3.subscription-toggle__title
		| Toggle
	ul.subscription-toggle__list
		li.subscription-toggle__item
			label.like
				input.like__input(type='checkbox', value='value-toggle' checked)
				span.like__box
				span.like__text
					| 12
		li.subscription-toggle__item
			label.like
				input.like__input(type='checkbox', value='value-toggle')
				span.like__box
				span.like__text
					| 2