include ../../../elements/buttons/checkbox/checkbox.pug

.checkbox-list
	button.checkbox-list__button
		h3.checkbox-list__title expandable checkbox list
		.checkbox-list__icon
			img(src=require('../../assets/img/button/dropdown.svg').default, alt='') 
	.checkbox-dropdown
		ul.checkbox-dropdown__list
			li.checkbox-dropdown__item
				+checkbox('Завтрак', false, 'breakfast')
			li.checkbox-dropdown__item
				+checkbox('Письменный стол', true, 'desk')
			li.checkbox-dropdown__item
				+checkbox('Стул для кормления', true, 'chair')
			li.checkbox-dropdown__item
				+checkbox('Кроватка', true, 'crib')
			li.checkbox-dropdown__item
				+checkbox('Телевизор', false, 'television')
			li.checkbox-dropdown__item
				+checkbox('Шампунь', false, 'shampoo')
			li.checkbox-dropdown__item
				+checkbox('Disabled', false, 'television', true)
			li.checkbox-dropdown__item
				+checkbox('Checked Disabled', true, 'shampoo', true)