.guests-dropdown
	.guests-dropdown__text
		h3.guests-dropdown__title Dropdown
		span.guests-dropdown__type Default
	form.guests-dropdown__form
		input.guests-dropdown__input(type='text' placeholder="Сколько гостей")
		button.guests-dropdown__button(type='button')
			img(src='assets/img/button/dropdown.svg', alt='')
