mixin dropdownGuest(value= ['Сколько гостей', 0, 0, 0], expanded= false)
	- let addClassInput = (expanded) ? 'guests-dropdown__input--expanded' : '';
	- let addClassBox = (expanded) ? 'guests-dropdown__box--expended' : '';
	.guests-dropdown
		form.guests-dropdown__form
			input(class=['guests-dropdown__input', addClassInput], type='text', value= value[0], name="local" )
			button.guests-dropdown__button(type='button')
				img(src=require('../../assets/img/button/dropdown.svg').default, alt='')
		div(class= ['guests-dropdown__box', 'guests-select', addClassBox])
			ul.guests-select__list
				li.guests-select__item
					h5.guests-select__title Взрослые
					.guests-select__box.cart-control
						button.cart-control__button.cart-control__button--reduce -
						input.cart-control__quantity(value= value[1], name="lowdown", max="3", min="0", readonly, data-type-room='adult' tabindex='-1')
						button.cart-control__button.cart-control__button--add +
				li.guests-select__item
					h5.guests-select__title Дети
					.guests-select__box.cart-control
						button.cart-control__button.cart-control__button--reduce -
						input.cart-control__quantity(value= value[2], name="lowdown", max="3" min="0", readonly, data-type-room='children' tabindex='-1')
						button.cart-control__button.cart-control__button--add +
				li.guests-select__item
					h5.guests-select__title Младенцы
					.guests-select__box.cart-control 
						button.cart-control__button.cart-control__button--reduce -
						input.cart-control__quantity(value= value[3], name="lowdown", max="3", min="0", readonly, data-type-room='babies' tabindex='-1')
						button.cart-control__button.cart-control__button--add +
			.guests-select__buttons
				button.guests-select__clear Очистить
				button.guests-select__apply Применить
