.font-h1 {
    @include font-h1;
}

.font-h2 {
    @include font-h2;
}

.font-h3 {
    @include font-h3;
}

.font-body {
    @include font-body;
}

.dark-color-100 {
    color: $dark-color-100;
}

.dark-color-75 {
    color: $dark-color-75;
}

.dark-color-50 {
    color: $dark-color-50;
}

.dark-color-25 {
    color: $dark-color-25;
}

.dark-color-5 {
    color: $dark-color-5;
}

.purple-color {
    color: $purple-color;
}

.green-color {
    color: $green-color;
}

.gradient-color {
    color: $gradient-color;
}