// Fonts here
@font-face {
	font-family: 'Montserrat';
	src: url('../assets/font/Montserrat/Montserrat Bold.eot');
	src: url('../assets/font/Montserrat/Montserrat Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/font/Montserrat/Montserrat Bold.woff2') format('woff2'),
		url('../assets/font/Montserrat/Montserrat Bold.woff') format('woff'),
		url('../assets/font/Montserrat/Montserrat Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/font/Montserrat/Montserrat Regular.eot');
	src: url('../assets/font/Montserrat/Montserrat Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/font/Montserrat/Montserrat Regular.woff2') format('woff2'),
		url('../assets/font/Montserrat/Montserrat Regular.woff') format('woff'),
		url('../assets/font/Montserrat/Montserrat Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../assets/font/Quicksand/Quicksand Bold.eot');
	src: url('../assets/font/Quicksand/Quicksand Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/font/Quicksand/Quicksand Bold.woff2') format('woff2'),
		url('../assets/font/Quicksand/Quicksand Bold.woff') format('woff'),
		url('../assets/font/Quicksand/Quicksand Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../assets/font/Quicksand/Quicksand Regular.eot');
	src: url('../assets/font/Quicksand/Quicksand Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/font/Quicksand/Quicksand Regular.woff2') format('woff2'),
		url('../assets/font/Quicksand/Quicksand Regular.woff') format('woff'),
		url('../assets/font/Quicksand/Quicksand Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}