@media screen and (max-width: 971px) { 
	.footer {
		&__body {
			padding-bottom: 65px;
			padding-top: 25px;
			}
		}
	.body-footer {
		&__logo {
			width: 100%;
			flex-grow: 1;
			}
		}
}

@media screen and (max-width: 840px) { // Скрываю меню
	.body-header {
		&__menu {
			display: none;
		}
	}
	.wrapper-burger {
		flex-basis: 320px;
		display: block;
	}
}

@media screen and (max-width: 380px) {
	.body-main {
		&__form {
		padding: 30px 20px 20px;
		}
	}
	.form-main {
		&__title {
			font-size: 22px;
			line-height: 25px;
		}
	}
	.arrival-date-for {
			&__calendar {
				font-size: 11px;
			}
	}
}
