@media screen and (max-width: 991px) {
	.header {
		display: none; // Пока не сделано бурегер меню
	}

	.footer__list {
		flex-wrap: wrap;
		margin-top: -rem(30px);
	}

	.footer__item {
		width: auto;
	}

	.footer-subscribe {
		width: 100%;
	}

	.footer-navigation {
		width: 60%;
	}

	.footer-navigation__list {
		padding: 0;
		padding-right: -rem(10px);
	}

	.logo {
		justify-content: center;
	}

	.footer-logo {
		max-width: 460px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: -rem(30px);
	}

	.body-main__form {
		position: relative;
	}

	.body-main__form.search-card {
		position: absolute;
	}
}

@media screen and (max-width: 735px) {
	.footer-navigation {
		max-width: 100%;
		width: 100%;
		margin-bottom: -rem(30px);
	}

	.footer-subscribe {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 100%;

		&__text {
			max-width: 100%;
		}

		&__form {
			width: 100%;
			max-width: 260px;
		}
	}

	.footer__list {
		margin-bottom: -rem(30px);
	}
}

@media screen and (max-width: 450px) {

	.footer-navigation,
	.footer-subscribe {
		display: none;
	}


}