@function -rem($size) {
	@return $size / 16px * 1rem;
}

@mixin fontSize($size) {
	font-size: $size;
	font-size: -rem($size);
}

@mixin lineHeight($f-size, $l-height) {
	line-height: $l-height / $f-size * 1;
}


@mixin font-h1($f-size: 24px, $weight: 700, $l-height: 30px) {
	font: {
	  family: Quicksand;
	  weight: $weight;
	}
	@include fontSize($f-size);
	@include lineHeight($f-size, $l-height);
	color: $dark-color-100;
}
			
@mixin font-h2($f-size: 19px, $weight: 700, $l-height: 24px) {
	font: {
	  family: Quicksand;
	  weight: $weight;
	}
	@include fontSize($f-size);
	@include lineHeight($f-size, $l-height);
	color: $dark-color-100;
	
}

@mixin font-h3($f-size: 12px, $weight: 700, $l-height: 15px) {
	font: {
	  family: Montserrat;
	  weight: $weight;
	}
	@include fontSize($f-size);
	@include lineHeight($f-size, $l-height);
	color: $dark-color-100;
	text-transform: uppercase;
}

@mixin font-body($f-size: 14px, $weight: 400, $l-height: 24px) {
	font: {
	  family: Montserrat;
	  weight: $weight;
	}
	@include fontSize($f-size);
	@include lineHeight($f-size, $l-height);
	color: $dark-color-75;
}


