.date-dropdown
	.date-dropdown__text
		h3.date-dropdown__title date Dropdown
	form.date-dropdown__form
		input.date-dropdown__input(type='text' placeholder="ДД.ММ.ГГГГ")
		button.date-dropdown__button(type='button')
			img(src= require('../../../../assets/img/button/dropdown.svg').default, alt='')