.checkbox {
	&--rich {
		max-width: 300px;
	}
}

.check {
	min-width: 205px;

	&__text {
		@include font-body($f-size: 12px, $l-height: 14px);
		color: $dark-color-50;
	}

	&__title {
		@include font-body($f-size: 14px, $weight: 700, $l-height: 18px);
		padding-bottom: -rem(5px);
	}
}