.checkbox {
	max-width: 222px;
	@include font-body($l-height: 18px);
	color: rgba(31, 32, 65, 0.5);
}
.check {
	cursor: pointer;
	&__input {
		appearance: none;
	}
	&__box {
		vertical-align: top;
		display: inline-block;
		margin-right: -rem(10px);
		width: 20px;
		height: 20px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: -rem(4px);
	}
	&__text {
		display: inline-block;
		width: 192px;
	}
}

// States

.check {
	&__input:checked + .check__box {
		background: {
			image: url(../assets/img/button/check.svg);
			repeat: no-repeat;
			position-x: center;
			position-y: 40%;
		}
		border: 1px solid #BC9CFF;
	}
	&__input:disabled + .check__box {
		border: 1px solid rgba(31, 32, 65, 0.40);
	}
	&__input:checked:disabled + .check__box {
		border: 1px solid rgba(31, 32, 65, 0.40);
	}
	&__input:focus + .check__box {
		box-shadow: 0 0 0 0.1em #91bfcc;
	}
}