.checkbox {
	&--rich {
		max-width: 266px;
	}
}
.check {
	&__title {
		display: inline-block;
		@include font-body($f-size: 14px, $weight: 700, $l-height: 18px);
	}
	&__text {
		&--rich {
			width: 230px;
			margin-left: 35px;
			@include font-body($f-size: 12px, $l-height: 14px);
			color: rgba(31, 32, 65, 0.5);
		}
	}
	
}