mixin calendar(value='', mode='single')
	div#datepicker.calendar
		.one
			+component('date Dropdown')
			input(type="text" name="start", placeholder='ДД.ММ.ГГГГ')

		.two
			+component('date Dropdown')
			input(type="text" name="end", placeholder='ДД.ММ.ГГГГ')