.date-dropdown.date-dropdown--filter
	.date-dropdown__text
		h3.date-dropdown__title filter date dropdown
	form.date-dropdown-filter__form
		input.date-dropdown__input(type='text' value="19 авг - 23 авг")
		button.date-dropdown__button(type='button')
			img(src= require('../../../../assets/img/button/dropdown.svg').default, alt='')