mixin logo(type='default')
	if type == 'default'
		.logo
			.logo__icon
				img(src=require('../../assets/img/logo/logo.svg').default, alt='Логотип')
			a.logo__text(href='index.html')
				img(src=require('../../assets/img/logo/toxin.svg').default, alt='Логотип')
	if type == 'grey'
		.logo
			.logo__icon.logo__icon--grey
				img(src=require('../../assets/img/logo/logo-grey.svg').default, alt='Логотип')