.text-field.date-dropdown
	.text-field__text
		h3.text-field__title date Dropdown
	form.date-dropdown__form
		input.text-field__input(type='text' placeholder="ДД.ММ.ГГГГ")
		button.date-dropdown__button(type='button')
			img(src='assets/img/dropdown.svg', alt='')