.header-UI
	img(src="assets/img/UI/logo__grey.svg", alt="")
.body-UI
	.colors
		ul.colors__list
			li.colors__item
				.colors__rectangle.colors__rectangle--dark100
				p.color__text
					| Dark Shade 100% 
					br
					| #1F2041
			li.colors__item
				.colors__rectangle.colors__rectangle--dark75
				p.color__text
					| Dark Shade 100% 
					br
					| #1F2041
			li.colors__item
				.colors__rectangle.colors__rectangle--dark50
				p.color__text
					| Dark Shade 100% 
					br
					| #1F2041
			li.colors__item
				.colors__rectangle.colors__rectangle--dark25
				p.color__text
					| Dark Shade 100% 
					br
					| #1F2041
			li.colors__item
				.colors__rectangle.colors__rectangle--dark5
				p.color__text 
					| Dark Shade 100% 
					br
					| #1F2041
			li.colors__item
				.colors__rectangle.colors__rectangle--purple
				p.color__text
					| Purple
					br
					| #BC9CFF
			li.colors__item
				.colors__rectangle.colors__rectangle--green
				p.color__text
					| Green
					br
					| #6FCF97
	.type
		ul.type__list
			li.type__item.type-h1
				.type-h1__icon H1
				p.type-h1__text This one is the sub-section or widget title
			li.type__item.type-h2
				.type-h2__icon H2
				p.type-h2__text Next one is the item title inside widgets
			li.type__item.type-h3
				.type-h3__ic on H3
				p.type-h3__text This is a label or CTA text
			li.type__item.type-body
				.type-body__icon Body
				p.type-body__text This is the body text which is used for most of the design, like paragraphs, lists, etc.