.text-field
	.text-field__text
		h3.text-field__title Text Field
		span.text-field__type.text-field__type--active Hover / Focus
	form.text-field__form--active
		input.text-field__input.text-field__input--active(type='text' placeholder="Email" value="This is pretty awesome")