.footer {
	background-color: #FFFFFF;
	&__border {
		border-top: 1px solid rgba(31, 32, 65, 0.05);
	}
	&__body {
		display: flex;
		padding-top: 85px;
		padding-bottom: 85px;
	}
	&__copyright {
		display: flex;
		justify-content: space-between;
		padding: 11px 0px;
	}
}

.body-footer {
	&__list {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__img {
		padding-bottom: 20px;
	}
	&__text {
		padding-bottom: 20px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
	&__title {
		padding-bottom: 20px;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		color: #1F2041;
	}
	&__link {
		display: block;
		font-size: 14px;
		padding-bottom: 20px;
		color: rgba(31, 32, 65, 0.5);
	}
	&__logo {
		width: 260px;
	}
	&__nav {
		width: 143px;
		margin-left: 1%;
	}
	&__about {
		width: 108px;
		margin-left: 1%;
	}
	&__support {
		width: 149px;
		margin-left: 1%;
	}
	&__subscription {
		width: 260px;
		margin-left: 1%;
	}
	&__form {
		position: relative;
	}
}

.copyright-footer {
	&__text {
		color: rgba(31, 32, 65, 0.75);
		font-size: 14px;
		line-height: 17px;
	}
	&__socials {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 112px;
		height: 24px;
	}
}

.form-body-footer {
	&__email {
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		width: 100%;
		max-width: 250px;
		height: 44px;
		padding-left: 15px;
	}
	&__arrow {
		position: absolute;
		right: 12px;
		top: 2px;
		width: 43px;
		height: 40px;
		background: #FFFFFF;
	}
}