// common

.wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  // background: #F4F4F6;
}

.container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
  padding: 15px 6px;
}



// UI

.wrapper-UI { // врапер основной, для теста
  width: 100%;
  margin: 0 auto;
  background: #F4F4F6;
  &--background--write {
    background: #FFFFFF;
  }
}

.header-UI {
  max-width: 1440px;
  margin: 0 auto;
  &__logo {
		padding: 30px 30px 32px;
	}
}

.container-UI {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 17px 10px;
  padding-top: 33px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
