//- .wrapper-burger
//- 	input#check-menu(type='checkbox')
//- 	label.checkbox-label(for='check-menu') MENU
//- 	.burger-line.burger-line--first
//- 	.burger-line.burger-line--second
//- 	.burger-line.burger-line--third
//- 	.burger-line.burger-line--fourth
//- 	nav.dropdown-menu
//- 		a.dropdown-menu__link(href='#') О нас
//- 		a.dropdown-menu__link(href='#') Услуги
//- 		a.dropdown-menu__link(href='#') Вакансии
//- 		a.dropdown-menu__link(href='#') Новости
//- 		a.dropdown-menu__link(href='#') Соглашения
//- 		a.dropdown-menu__link(href='#') Войти
//- 		a.dropdown-menu__link(href='#') Зарегистрироваться