+component('Buttons') 
.buttons
    ul.buttons__list
        li.buttons__item.buttons__item--middle
            +button-filled-color()
            +button-filled-color('CLICK ME', 'button--click')
        li.buttons__item.buttons__item--middle
            +button-white()
            +button-white('CLICK ME', 'button--click--gradient')
        li.buttons__item.buttons__item--small
            +button-text()
            +button-text('CLICK ME', 'button--click--text')
        li.buttons__item
           +button-elongated()






