mixin calendar(text1='date Dropdown', text2='date Dropdown', start, end)
	div.datepicker.calendar
		.one
			+title-component(text1)
			input(type="text" name="start", placeholder='ДД.ММ.ГГГГ', value=start)

		.two
			+title-component(text2)
			input(type="text" name="end", placeholder='ДД.ММ.ГГГГ', value=end)