include ../elements/buttons/like.pug
.component.like-group
	h3.component__title
		| like Buttons
	ul.like-group__list
		li.like-group__item
			+like(2, false)
		li.like-group__item
			+like(12, true)