mixin pagination()
    .pagination
        ul.pagination__list
            li.pagination__item
                button.pagination__button.pagination__button--start(url='#')
            li.pagination__item.pagination__page
                button.pagination__button.pagination__button--activ(url='#') 1
            li.pagination__item.pagination__page
                button.pagination__button(url='#') 2
            li.pagination__item.pagination__page
                button.pagination__button(url='#') 3
            li.pagination__item
                button.pagination__button(url='#') ...
            li.pagination__item.pagination__page
                button.pagination__button.pagination__button--end(url='#') 15
            li.pagination__item
                button.pagination__button.pagination__button--next(url='#')
        span.pagination__quantity 1 – 12 из 100+ вариантов аренды