mixin pagination()
    .pagination
        ul.pagination__list
            li.pagination__item
                button.pagination__button.pagination__button--previous(url='#', data-action='previous')
            li.pagination__item.pagination__page
            li.pagination__item
                button.pagination__button.pagination__button--next(url='#', data-action='next')
        span.pagination__quantity 1 – 12 из 100+ вариантов аренды