include ../elements/buttons/rating.pug
.component.rate-group
	h3.component__title rate button
	ul.rate-group__list
		li.rate-group__item
			+rating('first', 4)
		li.rate-group__item
			+rating('second', 5)

