mixin room(numRoom= '888', price= '9 990', urlImg= ['one', 'two', 'three', 'four'], rating= 5, numReview= 145, suite= true)
	.card-room
		ul.card-room__slider.room-slider
			li.slide
				a(href='#')
					img(src= require('../../assets/img/rooms/'+ urlImg[0] +'.png').default, alt="")
			li.slide
				img(src= require('../../assets/img/rooms/' + urlImg[1] + '.png').default, alt="")
			li.slide
				img(src= require('../../assets/img/rooms/' + urlImg[2] + '.png').default, alt="")
			li.slide
				img(src= require('../../assets/img/rooms/' + urlImg[3] + '.png').default, alt="")
		.card-room__details.room-details
			.room-details__title
				+room-title(numRoom, suite, price)
			.room-details__property
					.room-details__rating
						+rating(numRoom, rating)
					.room-details__review= numReview