mixin socials()
	.socials
		a
			img(src=require('../../assets/img/social/twiter.svg').default, alt="")
		a
			img(src=require('../../assets/img/social/facebook.svg').default, alt="")
		a
			img(src=require('../../assets/img/social/instagram.svg').default, alt="")