mixin statistics(num= 260)
	.statistics
		.statistics__tree
			.statistics__num= num
			p.statistics__text Голосов
		ul.statistics__description
			li.statistics__item.statistics__item--superb Великолепно
			li.statistics__item.statistics__item--good Хорошо
			li.statistics__item.statistics__item--satisfactory Удовлетворительно
			li.statistics__item.statistics__item--disappointed Разочарован