include ../elements/buttons/toggle.pug
+component('Toggle')
.subscription-toggle
	ul.subscription-toggle__list
		li.subscription-toggle__item
			+toggle('Получать спецпредложения', true)
		li.subscription-toggle__item
			+toggle('Получать спецпредложения', false)