.button {
	@extend .font-h3;
	padding: -rem(15px) -rem(20px);
	background: $gradient-color;
	border-radius: 22px;
	height: 44px;
	user-select: none;

	&--filled-color {
		// max-width: 102px;
		// width: 100%;
		color: rgb(255, 255, 255);
	}

	&--white {
		z-index: 500;
		// margin: -rem(2px);
		height: 44px;
		padding: 0;
		text-align: center;
		width: 101px;
		position: relative;
		color: $purple-color;
		border-radius: 22px;
	}

	&--text {
		padding: 0;
		height: 15px;
		border-radius: 1px;
		background: rgb(255, 255, 255);
		color: $purple-color;
	}

	&--elongated {
		max-width: 320px;
		width: 100%;
		color: rgb(255, 255, 255);
		position: relative;
	}

	&--click {
		background: $gradient-color-click;

		&--text {
			color: $dark-color-50;
		}
	}
}


// ==States==

.button {
	&--filled-color {
		&:active {
			background: $gradient-color-click;
		}
	}

	&--white {


		&:before {
			width: 100px;
			height: 44px;
			content: '';
			position: absolute;
			top: 0px;
			right: 0;
			bottom: 0;
			left: 0px;
			z-index: -2;
			border-radius: 23px;
			background: $gradient-color;

		}

		&:after {
			width: 96px;
			height: 40px;
			content: '';
			position: absolute;
			top: 2px;
			bottom: 0;
			right: 0;
			left: 2px;
			z-index: -1;
			border-radius: 23px;
			background: rgb(255, 255, 255);

		}

		&:active:before {
			// background: $gradient-color-click;
			// Не знаю почему, но это работает лучше
			background: rgb(255, 255, 255);
		}

		&:focus:before {
			@include focus();
		}
	}

	&--text {
		&:focus {
			box-shadow: none;
			border-bottom: -rem(2px) solid $focus-color;
		}

		&:active {
			color: $dark-color-50;
		}
	}

	&--elongated {

		&:active {
			background: $gradient-color-click;
		}

		&:before {
			width: 100%;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin-left: -rem(-12px);
			background-image: url(../assets/img/button/arrow__white.svg);
			background-repeat: no-repeat;
			background-position-x: right;
			background-position-y: center;
		}
	}

	&--click {
		&--gradient:before {
			background: $gradient-color-click;
		}

	}
}