.button {
	@extend .font-h3;
	padding: -rem(15px) -rem(20px);
	background: $gradient-color;
	border-radius: -rem(22px);
	height: 44px;
	user-select: none;
	transition-duration: .1s;
	&--filled-color {
		width: 102px;
		color: rgb(255, 255, 255);
		&:active {
			background: $gradient-color-click;
		}
	}

	&--white {
		width: 102px;
		margin: -rem(2px);
		position: relative;
		color: $purple-color;
		background: rgb(255, 255, 255);
		border: solid 0px transparent;
		border-radius: -rem(22px);
		
		&:before {
			width: 106px;
			height: 48px;
			content: '';
			position: absolute;
			top: -2px;
			right: 0;
			bottom: 0;
			left: -2px;
			z-index: -1;
			border-radius: -rem(23px);
			background: $gradient-color;
			
		}

		&:active:before {
			background: $gradient-color-click;
		}
	}

	&--text {
		padding: 0;
		height: 15px;
		border-radius: -rem(1px);
		background: rgb(255, 255, 255);
		color: $purple-color;

		&:focus {
			box-shadow: none;
			border-bottom: 2px solid $focus-color;
		}
		&:active {
			color: $dark-color-50;
		}
	}

	&--elongated {
		max-width: 320px;
		width: 100%;
		color: rgb(255, 255, 255);
		position: relative;
		
		&:active {
			background: $gradient-color-click;
		}

		&:before {
			width: 100%;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin-left: -12px;
			background-image: url(../assets/img/button/arrow__white.svg);
			background-repeat: no-repeat;
			background-position-x: right;
			background-position-y: center;
		}
	}

	&--click {
		background: $gradient-color-click;
		
		&--gradient:before {				
			background:$gradient-color-click;
		}
		&--text {
			color: $dark-color-50;
		}
	}
}