.like {
	width: 40px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	&__input {
		appearance: none;
	}
	&__box {
		position: absolute;
		width: 40px;
		height: 20px;
		border: 1px solid $dark-color-25;
		border-radius: -rem(10px);
		background-image: url(../assets/img/button/like.svg);
		background-repeat: no-repeat;
		background-position-x: 15%;
		background-position-y: 50%;
		border: solid 1px $dark-color-25;

	}
	&__text {
		position: relative;
		display: block;
		margin-top: -rem(-16px);
		padding-left: -rem(22px);
		@include fontSize($size: 10px);
		line-height: -lineHeight($f-size: 10px, $l-height: 12px);
		color: $dark-color-25;
		transition-duration: .1s;
		user-select: none;
	}
}

// States

.like {
	&__input:checked + .like__box {
		background-image: url(../assets/img/button/like__activ.svg);
		background-repeat: no-repeat;
		border: solid 0px transparent;
		background-color: white; 
		border-radius: -rem(16px);
		&:before {
			width: 42px;
			height: 22px;
			content: '';
			position: absolute;
			top: -1px; right: 0; bottom: 0; left: -1px;
			z-index: -1;
			border-radius: inherit;
			background: $gradient-color;
		 }
	}
	&__input:checked + .like__box + .like__text {
		color: $purple-color;
	}
	&__input:disabled + .like__box {
		border: 1px solid $dark-color-50;
	}
	&__input:focus + .like__box {
		box-shadow: $mainFocus;
	}
}