.like {
	cursor: pointer;
	&__input {
		appearance: none;
	}
	&__box {
		position: absolute;
		width: 40px;
		height: 20px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: -rem(10px);
		background-image: url(../assets/img/button/like.svg);
		background-repeat: no-repeat;
		background-position-x: 15%;
		background-position-y: 50%;
		transition-duration: .5s;
		margin-top: -rem(2px);
	}
	&__text {
		display: inline-block;
		width: 10px;
		padding-left: -rem(22px);
		font-size: -rem(10px);
		color: rgba(31, 32, 65, 0.25);
		transition-duration: .5s;
	}
}

// States

.like {
	&__input:checked + .like__box {
		background-image: url(../assets/img/button/like__activ.svg);
		background-repeat: no-repeat;
		border: 1px solid #BC9CFF;
	}
	&__input:checked + .like__box + .like__text {
		color: #BC9CFF;
	}
	&__input:disabled + .like__box {
		border: 1px solid rgba(31, 32, 65, 0.40);
	}
	&__input:focus + .like__box {
		box-shadow: 0 0 0 0.1em #91bfcc;
	}
}