.rating {
    padding: 0;
    border: none;
}

.rating__group {
    position: relative;
    display: flex;
    width: 100px;
    height: 20px;

    background: {
        image: url(../assets/img/button/star.svg);
        size: 20px auto;
        repeat: repeat-x;
    }

}

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 20px;
    font-size: inherit;
    appearance: none;

    background: {
        size: 20px auto;
        repeat: repeat-x;
    }

}

.rating__star:focus {
    outline: none;
}

.rating__star:hover,
.rating__star:checked {
    background-image: url(../assets/img/button/star__full.svg);
}

.rating__star:hover~.rating__star {
    // transition: 0.3s;
    background-image: url(../assets/img/button/star.svg);
}

.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 20px;
}

.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 40px;
}

.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 60px;
}

.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 80px;
}

.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 100px;
}