.rating-area {
    max-width: 120px;
    display: flex;
    flex-direction: row-reverse;

}

.input-rating {
    display: none;

    &:checked {
        background-image: url(../assets/img/button/star__full.svg);
        background-repeat: no-repeat;
    }
}

.label-rating {
    &:before {
        content: '';
        background-image: url(../assets/img/button/star.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        display: block;
        cursor: pointer;
    }

    // Заполнить звезды при наведении
    &:hover,
    &:hover~label {
        background-image: url(../assets/img/button/star__full.svg);
        background-repeat: no-repeat;
    }
}

// Заполнить выбранные звезды
.rating-area>input:checked~label {
    background-image: url(../assets/img/button/star__full.svg);
    background-repeat: no-repeat;
}