.toggle {
	@extend .font-body;
	width: 300px;
	cursor: pointer;
	position: relative;
	z-index: 1;

	&__input {
		appearance: none;
	}

	&__box {
		vertical-align: middle;
		display: inline-block;
		position: relative;
		margin-right: -rem(10px);
		width: 40px;
		height: 20px;
		border: -rem(1px) solid $dark-color-25;
		border-radius: 10px;

		background: {
			image: url(../assets/img/button/radio.svg);
			repeat: no-repeat;
			position-x: 10%;
			position-y: center;
		}

		transition-duration: .1s
	}

	// &__text {}
}

// States

.toggle {
	&__input:checked+.toggle__box {
		background: {
			image: url(../assets/img/button/radio__check.svg);
			repeat: no-repeat;
			position-x: 90%;
			position-y: center;
		}

		border: solid 0px transparent;
		background-color: rgb(255, 255, 255);
		border-radius: 16px;

		&:before {
			width: 42px;
			height: 22px;
			content: '';
			position: absolute;
			top: -1px;
			right: 0;
			bottom: 0;
			left: -1px;
			z-index: -3;
			border-radius: inherit;
			background: $gradient-color;
		}
	}

	&__input:disabled+.toggle__box {
		border: 1px solid $dark-color-50;
	}

	&__input:focus+.toggle__box {
		box-shadow: $mainFocus;
	}
}