.toggle {
	@extend .font-body;
	width: 300px;
	cursor: pointer;
	&__input {
		appearance: none;
	}
	&__box {
		vertical-align: middle;
		display: inline-block;
		margin-right: -rem(10px);
		width: 40px;
		height: 20px;
		border: 1px solid $dark-color-25;
		border-radius: -rem(10px);
		background: {
			image: url(../assets/img/button/radio.svg);
			repeat: no-repeat;
			position-x: 10%;
			position-y: center;
		}
		transition-duration: .5s;
	}
	// &__text {}
}

// States

.toggle {
	&__input:checked + .toggle__box {
		background: {
			image: url(../assets/img/button/radio__check.svg);
			repeat: no-repeat;
			position-x: 90%;
			position-y: center;
		}
		border: 1px solid $purple-color;
	}
	&__input:disabled + .toggle__box {
		border: 1px solid $dark-color-50;
	}
	&__input:focus + .toggle__box {
		box-shadow: 0 0 0 0.1em $focus-color;
	}
}
