.bullet {
	&__title {
		@extend .font-h3;
	}
	// &__list {}
	// &__item {}
	&__box {
		vertical-align: top;
		display: inline-block;
		margin-top: -rem(7px);
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: rgba(31, 32, 65, 0.25);
	}
	&__text {
		display: inline-block;
		margin-left: -rem(10px);
		max-width: 240px;
		@extend .font-body;
	}
}
