// Форма подбора отелей в main
// Поменять px на rem
.form-main {
	&__date {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		@extend .font-h3;
	}
	&__guests {
		position: relative;
		margin-bottom: 30px;		
	}
	&__bottom {
		position: relative;
		width: 100%;
		height: 44px;
		max-width: 320px;
		background: $gradient-color;
		border-radius: 22px;		
		@extend .font-h3; //1
		color: rgb(255, 255, 255); //2
	}
}
.bottom-form-main {
	&__icon {
		position: absolute;
		right: 13px;
		top: 13px;
	}
}
.date-form-main {
	&__arrival {
		position: relative;
		margin-right: 10px;
	}
	&__departure {
		position: relative;
	}
}

.arrival-date-for {
	&__title {
		margin-bottom: 6px;
	}
	&__dropdown {
		position: absolute;
		right: 0px;
		width: 44px;
		height: 44px;
		border-radius: 4px;
	}
	&__calendar {
		max-width: 150px;
		width: 100%;
		height: 44px;
		border: 1px solid $dark-color-25;
		border-radius: 4px;
		padding-left: 15px;
		@extend .font-body;
	}
}
.guests-form-main {
	&__input {
		width: 100%;
		max-width: 320px;
		height: 44px;
		border: 1px solid $dark-color-25;
		border-radius: 4px;
		padding-left: 15px;
		@extend .font-body;
	}
	&__title {
		margin-bottom: 6px;
		@extend .font-h3;
	}
}