// Кнопка зарегестрироваться
.identification-header {
	&__register {
		color: #FFFFFF;
		background: linear-gradient(#BC9CFF, #8BA4F9);
		border-radius: -rem(22px);
		padding: 0.625rem 1.25rem;
	}
}