doctype html
html(lang='ru')
	head
		title Cards
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body.wrapper-UI
		.header-UI
			.header-UI__logo
				img(src="assets/img/UI/logo__grey.svg", alt="")
		ul.cards__list
			li.cards__item
				include ../modules/UI-kit/cards/selection
			li.cards__item
				include ../modules/UI-kit/cards/register
			li.cards__item
				include ../modules/UI-kit/cards/reservation
			li.cards__item
				include ../modules/UI-kit/cards/login
			li.cards__item
				include ../modules/UI-kit/cards/calendar
			li.cards__item
				include ../modules/UI-kit/cards/suite-luxury
			li.cards__item
				include ../modules/UI-kit/cards/suite