doctype html
html(lang='ru')
	head
		title Colors and Type
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body.wrapper-UI.wrapper-UI--background--write
		.header-UI
			img.header-UI__logo(src="assets/img/UI/logo__grey.svg", alt="")
		.container-UI
			.colors
				ul.colors__list
					li.colors__item
						.colors__rectangle.colors__rectangle--dark100
						p.color__text 
							| Dark Shade 100%
							br
							| #1F2041
					li.colors__item
						.colors__rectangle.colors__rectangle--dark75
						p.color__text
							| Dark Shade 75%
							br
							| #1F2041
					li.colors__item
						.colors__rectangle.colors__rectangle--dark50
						p.color__text
							| Dark Shade 50%
							br
							| #1F2041
					li.colors__item
						.colors__rectangle.colors__rectangle--dark25
						p.color__text
							| Dark Shade 25%
							br
							| #1F2041
					li.colors__item
						.colors__rectangle.colors__rectangle--dark5
						p.color__text
							| Dark Shade 5%
							br
							| #1F2041
					li.colors__item
						.colors__rectangle.colors__rectangle--purple
						p.color__text
							| Purple
							br
							| #BC9CFF
					li.colors__item
						.colors__rectangle.colors__rectangle--green
						p.color__text
							| Green
							br
							| #6FCF97
			.type
				ul.type__list
					li.type__item
						.type__icon.type__icon--big H1
						p.type__text.type__text--big This one is the sub-section or widget title
					li.type__item
						.type__icon.type__icon--mid H2
						p.type__text.type__text--mid Next one is the item title inside widgets
					li.type__item
						.type__icon.type__icon--small H3
						p.type__text.type__text--small This is a label or CTA text
					li.type__item
						.type__icon.type__icon--body Body
						p.type__text.type__text--body This is the body text which is used for most of the design, like paragraphs, lists, etc.