doctype html
html(lang='ru')
	head
		title Header and Footer
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body.wrapper-UI
		.header-UI
			.header-UI__logo
				img(src="assets/img/UI/logo__grey.svg", alt="")
		.grid
			.column
				.elements
					ul.elements_list
						li.elements_item
							include ../elements/text-field/text-field
						li.elements_item
							include ../elements/text-field/text-field--hover-focus
						li.elements_item
							include ../elements/dropdown/guests/guests-dropdown
						li.elements_item
							include ../elements/text-field/text-field--masked
						li.elements_item.elements_item--row
							include ../elements/dropdown/date/date-dropdown
							include ../elements/dropdown/date/date-dropdown--selected
						li.elements_item
						li.elements_item
							include ../elements/dropdown/date/filter-date-dropdown
						li.elements_item
							include ../elements/text-field/text-field--subscription
						li.elements_item
							include ../elements/dropdown/rooms/rooms-dropdown
						li.elements_item
							include ../elements/dropdown/rooms/rooms-dropdown--expanded
						li.elements_item
							include ../elements/dropdown/checkbox-list/checkbox-list
						li.elements_item
							include ../elements/dropdown/checkbox-list/checkbox-list--expanded
						li.elements_item
							include ../elements/details/comfort
						li.elements_item
							include ../elements/details/convenience
						li.elements_item--script
			.column
				.column
					.column
					.column
				.row