// common

.wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
  padding: 15px 6px;
}



// UI

.wrapper-UI {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container-UI {
  max-width: 1392px;
  padding: 30px 30px;
  margin: 0 auto;
}

.contant-UI {
  width: 100%;
  max-width: 1099px;
  margin: 0 auto;
  padding-top: 47px;
}