.gender
	h3.gender__title
		| Radio Buttons
	.radio-group
		label.radio
			input.radio__input(type='radio', name='gender' value='male' checked)
			span.radio__box
			span.radio__text
				| Мужчина
		label.radio
			input.radio__input(type='radio', name='gender' value='female')
			span.radio__box
			span.radio__text
				| Женщина