mixin header-en()
	.inner-header
		header.header.container.flex
			+logo('default')
			nav.header__navigation.navigation-header
				ul.navigation-header__list
					li.navigation-header__item
						a.navigation-header__link.navigation-header__link--active(href='colors-type.html') Home
					li.navigation-header__item
						a.navigation-header__link(href='colors-type.html') About Us
					li.navigation-header__item.dropdown-menu Services
						ul.submenu.submenu--service
							li.submenu__item
								a.submenu__link(href='header-footer.html') Footer-Header
							li.submenu__item
								a.submenu__link(href='cards.html') Cards
							li.submenu__item
								a.submenu__link(href='colors-type.html') Font-Color
							li.submenu__item
								a.submenu__link(href='form-elements.html') Form-Element
							li.submenu__item
								a.submenu__link(href='index.html') Home
							li.submenu__item
								a.submenu__link(href='about.html') Result
							li.submenu__item
								a.submenu__link(href='log.html') Log In
							li.submenu__item
								a.submenu__link(href='register.html') Register
							li.submenu__item
								a.submenu__link(href='room.html') Room
					li.navigation-header__item
						a.navigation-header__link(href='header-footer.html') Careers
					li.navigation-header__item
						a.navigation-header__link(href='cards.html') News
					li.navigation-header__item.dropdown-menu Documentation
						ul.submenu.submenu--documentation
							li.submenu__item
								a.submenu__link(href='header-footer.html') Footer-Header
							li.submenu__item
								a.submenu__link(href='cards.html') Cards
							li.submenu__item
								a.submenu__link(href='colors-type.html') Font-Color
							li.submenu__item
								a.submenu__link(href='form-elements.html') Form-Element
							li.submenu__item
								a.submenu__link(href='index.html') Home
							li.submenu__item
								a.submenu__link(href='about.html') Result
							li.submenu__item
								a.submenu__link(href='log.html') Log In
							li.submenu__item
								a.submenu__link(href='register.html') Register
							li.submenu__item
								a.submenu__link(href='room.html') Room
					li.navigation-header__item
						+button-white('Login', '', 'log.html')
					li.navigation-header__item
						+button-filled-color('REGISTER', '', 'register.html')