mixin header()
	.header__body.body-header
		+logo('default')
		nav.body-header__menu.menu-header
			ul.menu-header__list
				li.menu-header__item
					a.menu-header__link(href='colors-type.html') О нас
				li.menu-header__item
					a.menu-header__link.link-menu-header(href='#') Услуги
				li.menu-header__item
					a.menu-header__link(href='header-footer.html') Вакансии
				li.menu-header__item
					a.menu-header__link(href='cards.html') Новости
				li.menu-header__item
					a.menu-header__link.link-menu-header(href='form-elements.html') Соглашения
				li.menu-header__item.identification-header
					+button-text()
				li.menu-header__item.identification-header
					+button-elongated()