.rooms-dropdown
	.rooms-dropdown__text
		h3.rooms-dropdown__title date Dropdown
	form.rooms-dropdown__form
		input.rooms-dropdown__input(type='text' value="2 спальни, 2 кровати...")
		button.rooms-dropdown__button(type='button')
			img(src='assets/img/dropdown.svg', alt='')