.subscription-toggle
	h3.subscription-toggle__title
		| Toggle
	ul.subscription-toggle__list
		li.subscription-toggle__item
			label.toggle
				input.toggle__input(type='checkbox', value='value-toggle' checked)
				span.toggle__box
				span.toggle__text
					| Получать спецпредложения
		li.subscription-toggle__item
			label.toggle
				input.toggle__input(type='checkbox', value='value-toggle')
				span.toggle__box
				span.toggle__text
					| Получать спецпредложения