mixin search(text='Найдём номера под ваши пожелания')
	.search-card
		h1.search-card__title= text
		form.search-card__form.search-data(action='about.html', target='_blank')
			ul.search-data__list
				li.search-data__item
					+calendar('Прибытие', 'Выезд')
				li.search-data__item
					+title-component('Гости')
					+dropdownChoose('guests', ['Сколько гостей', 0, 0, 0], false)
				li.search-data__item.search-data__item--additional-padding
					+button-elongated('Подобрать номер')