.guests-dropdown {
	&__form {
		position: relative;
	}
	&__button {
		background: transparent;
		position: absolute;
		right: 1px;
		bottom: 0px;
		width: 44px;
		height: 44px;
		border-radius: 4px;
	}
}