.reservation-card {
	max-width: 380px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: -rem(4px);

	&__room {
		margin-top: -rem(40px);
		max-width: 320px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__form {
		max-width: 320px;
		width: 100%;
		margin-bottom: -rem(30px);
	}
}

.reservation-card-room {
	&__type {
		@extend .font-h1;

		&:before {
			content: '№ ';
			@include fontSize(14px);
		}

		&:after {
			content: ' люкс';
			@extend .font-h3;
			color: $purple-color;
		}
	}

	&__price {}
}

.reservation-card-room-price {
	@include font-body($f-size: 14px, $weight: 400, $l-height: 18px);
	color: $dark-color-50;
	align-self: end;

	&__sum {
		font-weight: 700;

		&::after {
			content: ' в сутки';
			font-weight: 400;
		}
	}
}

.reservation-data {
	&__item {
		padding-top: -rem(20px);
	}

	&__list {}
}

.reservation-data-price {
	&__additional-service {}

	&__day {}

	&__description {}

	&__price {}

	&__service {}
}

.sum-total {
	&__sum {}

	&__title {}
}