mixin text-field-basic(type= 'text', placeholder='placeholder', value= '', addClass='')
	input(class= ['text-field__input', addClass], type= type, placeholder= placeholder, value= value, name='date', data-bouncer-message="Please use the following format: 555-555-5555")
