mixin text-field-subscribe(place='Email', addClass='', name='email-subscribe')
	.text-field-subscribe
		button.text-field-subscribe__button
		input(class= ['text-field__input', addClass], name= name, type='email', placeholder= place)