.text-field.text-field-subscription
	.text-field__text
		h3.text-field__title subscription text field
	form.text-field-subscription__form
		input.text-field__input(type='text' placeholder="Email")
		button.text-field-subscription__button(type='button')
			img.text-field-subscription__test(src='assets/img/button/arrow.svg', alt='')