mixin text-field(type= 'text', placeholder='placeholder', value= '', addClass= '')
	.text-field
		input(class=['text-field__input', addClass], type= type, placeholder= placeholder, value= value)

	//- .text-field
	//- 	.text-field__text
	//- 		h3.text-field__title= title
	//- 		span(class=['text-field__type', addClass])= subtitle