.text-field
	.text-field__text
		h3.text-field__title masked text field
		span.text-field__type Default
	form.text-field__form.text-field__form--masked
		input.text-field__input(type='text' placeholder="ДД.ММ.ГГГГ")