mixin login(title='Войти')
	.login-card
		h1.login-card__title= title
		form.login-card__fotm.login-data(name="login" action='#', target='get')
			ul.login-data__list
				li.login-data__item
					+text-field-basic('email', 'Email', 'email', false, '', '', '')
					+text-field-basic('password', 'Пароль', 'password', false, '', '', 'text-field--login')
				li.login-data__item
					+button-elongated('войти')
		.login-card__footer.card-footer
			p.card-footer__text Нет аккаунта на Toxin?
			+button-white('Создать', '')