.rating
	.rating__group
		input.rating__star(type='radio', name='general', value='1', aria-label='Ужасно')
		input.rating__star(type='radio', name='general', value='2', aria-label='Сносно')
		input.rating__star(type='radio', name='general', value='3', aria-label='Нормально')
		input.rating__star(type='radio', name='general', value='4', aria-label='Хорошо', checked)
		input.rating__star(type='radio', name='general', value='5', aria-label='Отлично')