.checkbox-buttons-rich
	h3.checkbox-buttons__title
		| Rich Checkbox Buttons
	ul.checkbox-buttons__list
		li.checkbox-buttons__item
			.checkbox.checkbox--rich
				label.check.option
					input.check__input(type='checkbox', name='breakfast')
					span.check__box
					.check__title
						| Широкий коридор
					.check__text.check__text--rich
						| Ширина коридоров в номере не&nbsp;менее 91 см.
		li.checkbox-buttons__item
			.checkbox.checkbox--rich
				label.check.option
					input.check__input(type='checkbox', name='breakfast' checked)
					span.check__box
					.check__title
						| Помощник для инвалидов
					.check__text.check__text--rich
						| На 1 этаже вас встретит специалист и&nbsp;проводит до номера.