.checkbox.checkbox--rich
	label.check.option
		input.check__input(type='checkbox', name='breakfast')
		span.check__box
		.check__title
			| Широкий коридор
		.check__text.check__text--rich
			| Ширина коридоров в номере не менее 91 см.
