mixin checkboxRich(title= 'title', text= 'text', name='breakfast', check= false, disabled= false)
	.checkbox.checkbox--rich
		label.check.option.No-onmousedown
			input.check__input(type='checkbox', name= name, checked= check, disabled= disabled)
			span.check__box
			.check__text
				h5.check__title!= title
				p!= text
