mixin checkbox(text= 'text', check= false, name='breakfast', disabled= false)
	.checkbox
		label.check.option
			input.check__input(type='checkbox', name= name, checked= check, disabled= disabled)
			span.check__box
			span.check__text= text