.bullet
	ul.bullet__list
		li.bullet__item
			span.bullet__box
			.bullet__text
				| Нельзя с питомцами
		li.bullet__item
			span.bullet__box
			.bullet__text
				| Без вечеринок и мероприятий
		li.bullet__item
			span.bullet__box
			.bullet__text
				| Время прибытия — после 13:00, а выезд до 12:00