.details
	.details__logo
		img(src=require('../../../assets/img/other/convenience.svg'), alt="")
	.details__text
		h3.details__title
			| Удобство
		.details__subtitle
			| Окно в каждой из спален