.cards {
	&__list {
		margin: 40px;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;
		max-width: 1220px; // изменить на 1160 при построении всех табличек
		margin: 0 auto;

	}

	&__item {
		// margin-bottom: 40px;
	}
}