.cards {
	margin: 0 auto;
	max-width: 1220px;

	&__list {
		width: 100%;
		margin-right: 40px;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;
		// изменить на 1160 при построении всех табличек


	}

	&__item {
		margin-bottom: 40px;
	}
}

.cards__column {
	display: flex;
}