.colors {
	&__item {
		@include font-h2;
		display: flex; 
		padding-bottom: -rem(20px);
	}
	&__rectangle {
		width: 70px;
		height: 70px;
		border-radius: -rem(6px);
		&--dark100 {background: #1F2041;}
		&--dark75 {background: rgba(31, 32, 65, 0.75);}
		&--dark50 {background: rgba(31, 32, 65, 0.5);}
		&--dark25 {background: rgba(31, 32, 65, 0.25);}
		&--dark5 {background: rgba(31, 32, 65, 0.05);}
		&--purple {background: #BC9CFF;}
		&--green {background: #6FCF97;}
	}
}
.color {
	&__title {
		padding-left: -rem(40px);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	&__hex {
		font-weight: 400;
	}
}


.type {
	max-width: 403px;
	// &__list {} 
	&__item {
		display: flex;
		padding-bottom: -rem(50px);
	}
	// &__box {}
	&__icon {
		margin-right: -rem(30px);
		color: $dark-color-25;
		text-align: center;
		width: 30px;

		&--h1 {
			@include font-h1;
		}
		&--h2 {
			@include font-h2;;
		}
		&--h3 {
			@include font-h3;
		}
		&--body {
			@include font-body;
		}
	}
	&__text {
		max-width: 336px;
		&--h1 {@include font-h1;}
		&--h2 {@include font-h2;}
		&--h3 {@include font-h3;}
		&--body {@include font-body;}
	}
}
