.grid {
	margin: 0 auto;
	max-width: 1160px;
}
.row {
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
}
.column {
	max-width: 340px;
	padding: 0 10px;
	width: 100%;
}
.column--middle {
	max-width: 280px;
	width: 100%;
}
.elements__item {
		padding-bottom: 20px;
}

.elements__item--row {
	display: flex;
	justify-content: space-between;
}

.elements__item--middle{
	padding-bottom: 40px;
}

@import '../elements/text-field/text-field';

@import '../elements/buttons/checkbox/checkbox';
@import '../elements/buttons/checkbox/checkbox-rich';
@import '../elements/buttons/checkbox/checkbox-list';

@import '../elements/buttons/radio/gender';
@import '../elements/buttons/radio/radio-group';

@import '../elements/buttons/toggle/toggle';
@import '../elements/buttons/toggle/toggle-group';

@import '../elements/buttons/like/like';
@import '../elements/buttons/like/like-group';

@import '../elements/buttons/rate/star';
@import '../elements/buttons/rate/star-group';

@import '../elements/text-field/text-field--hover-focus';
@import '../elements/text-field/text-field--masked';
@import '../elements/text-field/text-field--subscription';

@import '../elements/dropdown/guests/guests-dropdown';

@import '../elements/dropdown/date/date-dropdown';
@import '../elements/dropdown/date/date-dropdown--selected';
@import '../elements/dropdown/date/filter-date-dropdown';

@import '../elements/dropdown/rooms/rooms-dropdown';
@import '../elements/dropdown/rooms/rooms-dropdown--expanded';

@import '../elements/dropdown/checkbox-list/checkbox-list';
@import '../elements/dropdown/checkbox-list/checkbox-list--expanded';

@import '../elements/other/comfort';
@import '../elements/other/bullet-list';