.grid {
	margin: 0 auto;
	max-width: 1160px;
}

.row {
	margin-bottom: -rem(100px);
	display: flex;
	justify-content: space-between;

	&--bottom {
		margin-bottom: -rem(20px);
	}

	&--double {
		max-width: 720px;
		width: 100%;
		justify-content: space-between;

		// margin-left: -rem(20px);
	}
}

.column {
	max-width: 340px;
	padding: 0 10px;
	width: 100%;

	&--middle {
		max-width: 280px;
		width: 100%;
	}

	&--double {
		max-width: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
}

.elements {
	&__item {
		padding-bottom: -rem(20px);

		&--row {
			display: flex;
			justify-content: space-between;
		}

		&--middle {
			padding-bottom: -rem(40px);
		}

		&--paddTop {
			padding-top: -rem(74px);
		}
	}
}

.component {
	display: flex;
	justify-content: space-between;
	@extend .font-h3;

	&__title {
		padding-bottom: -rem(5px);
	}

	&__subtitle {
		font-weight: 400;
		color: $dark-color-50;
	}

}

@import '../elements/text-field/text-field';

@import '../elements/buttons/checkbox/checkbox';
@import '../elements/buttons/checkbox/checkbox--rich';
@import '../components/checkbox-list.scss';

@import '../components/radio-group';

@import '../elements/buttons/toggle';
@import '..//components/toggle-group';

@import '../elements/buttons/like';
@import '../components/like-group';

@import '../elements/buttons/rating';
@import '../components/rating-group';

@import '../components/buttons';
@import '../elements/buttons/button.scss';

@import '../components/dropdown/dropdown-choose';

@import '../components/dropdown/date/date-dropdown';
@import '../components/dropdown/date/date-dropdown--selected';
@import '../components/dropdown/date/filter-date-dropdown';

@import '../components/dropdown/checkbox-drop-list';
@import '../components/comment';
@import '../components/pagination';
@import '../components/slider';

@import '../elements/other/details';
@import '../elements/other/bullet-list';