.grid {
	margin: 0 auto;
	max-width: 1160px;
}
.row {
	margin-bottom: -rem(100px);
	display: flex;
	justify-content: space-between;
}
.column {
	max-width: 340px;
	padding: 0 10px;
	width: 100%;
}
.column--middle {
	max-width: 280px;
	width: 100%;
}
.column--double {
	max-width: 100%;
	width: 100%;
}
.elements__item {
	padding-bottom: -rem(20px);
}

.elements__item--row {
	display: flex;
	justify-content: space-between;
}

.elements__item--middle{
	padding-bottom: -rem(40px);
}

.elements__item--paddTop {
	padding-top: -rem(74px);
}

.component {
	display: flex;
	justify-content: space-between;
	@extend .font-h3;
	&__title {
		padding-bottom: -rem(5px);
	}
	&__subtitle {
		font-weight: 400;
		color: rgba(31, 32, 65, 0.5);
	}
	
}

@import '../elements/text-field/text-field';

@import '../elements/buttons/checkbox/checkbox';
@import '../elements/buttons/checkbox/checkbox--rich';
@import '../components/checkbox-list.scss';

@import '../components/radio-group';

@import '../elements/buttons/toggle';
@import '..//components/toggle-group';

@import '../elements/buttons/like';
@import '../components/like-group';

@import '../elements/buttons/rating';
@import '../components/rating-group';

@import '../elements/text-field/text-field--masked';
@import '../elements/text-field/text-field--subscription';

@import '../components/dropdown/guests-dropdown';

@import '../components/dropdown/date/date-dropdown';
@import '../components/dropdown/date/date-dropdown--selected';
@import '../components/dropdown/date/filter-date-dropdown';

@import '../components/dropdown/rooms-dropdown';

@import '../components/dropdown/checkbox-list/checkbox-drop-list';

@import '../elements/other/details';
@import '../elements/other/bullet-list';