.header-footer {
	&__item {
		margin-top: -rem(40px);
		background: rgb(255, 255, 255);

	}

	&__list {
		margin-top: -rem(70px);
		margin-bottom: -rem(130px);
	}
}

.footer-simple {
	padding-top: -rem(100px);
	padding-bottom: -rem(100px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	@extend .font-body;
	color: $dark-color-75;

	&__text {
		max-width: 520px;
		margin-top: -rem(20px);

	}

	&__socials {
		align-self: center;
		width: 100%;
		max-width: 100px;
		margin-top: -rem(25px);
	}

	&__logo {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-self: center;
	}
}