.main {
	&--wrapper-background {
		background-image: url(../assets/img/background/image-1.jpg);
		background-size: cover;
		background-position: center center;
		width: 100%;
		min-height: 500px;
	}
}

.main {
	&__body {
		padding-top: 70px;
		height: 100vh;
		max-height: 830px;
		display: flex;
		flex-direction: column;
	}
}

.body-main {
	&__form {
		width: 100%;
		max-width: 382px;
		background-color: #fff;
		padding: 40px 30px 30px;
		border-radius: 4px;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.12);
	}
	&__epigraph {
		margin-top: auto;
		margin-left: auto;
		margin-bottom: 3px;
		text-align: right;
		max-width: 297px;
	}
		&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1F2041;
		margin-bottom: 20px;
	}
}

.epigraph-main {
	&__text {
		font-style: normal;
		color: rgb(31, 32, 65);
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
}