.main {
	flex-wrap: nowrap;

	&--background {


		width: 100%;
		min-height: 500px;

		&-index {
			background-image: url(../assets/img/background/back-index.jpg);
			background-size: cover;
			background-position: center center;
		}

		&-user {
			background-image: url(../assets/img/background/back-user.jpg);
			background-size: cover;
			background-position: center center;
		}
	}

	&__body {
		padding-top: -rem(70px);
		height: calc(100vh - 70px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.body-main {
	@extend .font-body;
	color: rgba(31, 32, 65, 0.75);

	// &__form {}

	&__epigraph {
		margin-bottom: -rem(15px);
		align-self: flex-end;
		max-width: 297px;
		text-align: right;
	}
}