doctype html
html(lang='ru')
	head
		title Главная
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		link(rel='stylesheet', href='css/style.css')
		link(rel='shortcut icon', href='#')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body
		.wrapper
			header.header.container
				.header__body.body-header
					.body-header__logo.logo
						a(href='index.html')
							img(src='img/logo.svg', alt='Логотип')
					nav.body-header__menu.menu-header
						ul.menu-header__list
							li.menu-header__link
								a(href='#') О нас
							li.menu-header__link.link-menu-header
								a(href='#')
									| Услуги
									img.link-menu-header__icon(src='img/dropdown.svg', alt='#')
							li.menu-header__link
								a(href='#') Вакансии
							li.menu-header__link
								a(href='#') Новости
							li.menu-header__link.link-menu-header
								a(href='#')
									| Соглашения
									img.link-menu-header__icon(src='img/dropdown.svg', alt='#')
						ul.menu-header__list.menu-header__list--block
							li.menu-header__link.identification-header
								a.identification-header__login(href='#') Войти
							li.menu-header__link.identification-header
								a.identification-header__register(href='#') Зарегистрироваться
					//----------------------------Бургер меню-----------------------------------------------------
					.wrapper-burger
						input#check-menu(type='checkbox')
						label.checkbox-label(for='check-menu') MENU
						.burger-line.burger-line--first
						.burger-line.burger-line--second
						.burger-line.burger-line--third
						.burger-line.burger-line--fourth
						nav.dropdown-menu
							a.dropdown-menu__link(href='#') О нас
							a.dropdown-menu__link(href='#') Услуги
							a.dropdown-menu__link(href='#') Вакансии
							a.dropdown-menu__link(href='#') Новости
							a.dropdown-menu__link(href='#') Соглашения
							a.dropdown-menu__link(href='#') Войти
							a.dropdown-menu__link(href='#') Зарегистрироваться
					//------------------------------------------------------
			main.main.main--wrapper-background
				article.main__body.body-main.container
					section.body-main__form.form-main
						h1.form-main__title Найдём номера под ваши пожелания
						.form-main__date.date-form-main
							.date-form-main__arrival.arrival-date-form
							.date-form-main__departure.departure-date-form
						.form-main__guests.guests-form-main
						.form-main__bottom
					p.body-main__epigraph.epigraph-main
						em.epigraph-main__text Лучшие номера для вашей работы, отдыха и просто вдохновения
			footer.footer.container
				.container
					.footer-body