.checkbox-buttons
	h3.checkbox-buttons__title
		| Checkbox Buttons
	ul.checkbox-buttons__list
		li.checkbox-buttons__item
			.checkbox
				label.check.option
					input.check__input(type='checkbox', name='breakfast')
					span.check__box
					| Можно курить
		li.checkbox-buttons__item
			.checkbox
				label.check.option
					input.check__input(type='checkbox', name='breakfast' checked)
					span.check__box
					.check__text
						| Завтрак
		li.checkbox-buttons__item
			.checkbox
				label.check.option
					input.check__input(type='checkbox', name='breakfast' checked)
					span.check__box
					.check__text
						| Можно пригласить гостей (до 10 человек)