// @import "utils/libs";
@import "utils/vars";
// @import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

.wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
  padding: 15px 6px;
}

a {
  color: inherit;
}

// Modules
// @import "modules/my-module.scss";

@import "modules/header.scss";

@import "modules/main.scss";

@import "modules/datepicker.scss";