doctype html
html(lang='ru')
	//- Mixins
	include ../elements/element-import
	include ../components/component-import
	include ../modules/module-import
	+head()
	body.wrapper-UI
		header.header-UI
			.header-UI__logo
				+logo('grey')
		.cards
			.cards__column
				ul.cards__list
					li.cards__item
						+search()
					li.cards__item
						+register()
				ul.cards__list
					li.cards__item
						+reservation()
					li.cards__item
						+login()
				ul.cards__list
					li.cards__item
						.cards__calendar
							.one()
								input(type="text" name="start", placeholder='ДД.ММ.ГГГГ', value='19.04.2020',)
							.two()
								input(type="text" name="end", placeholder='ДД.ММ.ГГГГ', value='23.04.2020')
					li.cards__item
						+room()
					li.cards__item
						+room('840', '9 900', ['two', 'one', 'three', 'four'], 4, 65, false)