doctype html
html(lang='ru')
	head
		title Cards
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body.wrapper-UI
		.header-UI
			.header-UI__logo
				img(src="assets/img/logo/logo__grey.svg", alt="")
		ul.cards__list
			li.cards__item
				include ../form/selection
			li.cards__item
				include ../form/register
			li.cards__item
				include ../form/reservation
			li.cards__item
				include ../form/login
			li.cards__item
				include ../form/calendar
			li.cards__item
				include ../form/suite-luxury
			li.cards__item
				include ../form/suite