doctype html
html(lang='ru')
	head
		title Cards
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body.wrapper-UI
		header.header-UI
			.header-UI__logo
				img(src=require('../../assets/img/logo/logo__grey.svg').default, alt="")
		//- Mixins
		include ../elements/element-list
		include ../components/component-list
		.cards
			.cards__column
				ul.cards__list
					li.cards__item
						+search()
					li.cards__item
						+register()
				ul.cards__list
					li.cards__item
						+reservation()
					li.cards__item
						+login()
				ul.cards__list
					li.cards__item
						.cards__calendar
							.one()
								input(type="text" name="start", placeholder='ДД.ММ.ГГГГ', value='19.04.2020',)
							.two()
								input(type="text" name="end", placeholder='ДД.ММ.ГГГГ', value='23.04.2020')
					li.cards__item
						+register()
					li.cards__item
						+register()