doctype html
html(lang='ru')
	head
		title Cards
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body.wrapper-UI
		.header-UI
			.header-UI__logo
				img(src=require('../../assets/img/logo/logo__grey.svg').default, alt="")
		include ../form/cards/search
		include ../form/cards/register
		include ../form/cards/login
		include ../form/cards/reservation


		include ../elements/component
		include ../elements/component
		include ../elements/other/details
		include ../elements/text-field/basic
		include ../elements/text-field/email
		include ../elements/buttons/radio.pug
		include ../elements/buttons/toggle.pug
		include ../elements/buttons/button/button--elongated
		include ../elements/buttons/button/button--filled-color
		include ../elements/buttons/button/button--white
		include ../elements/buttons/button/button--text
		include ../elements/buttons/checkbox/checkbox-drop-list

		include ../components/dropdown/date/date-dropdown.pug
		include ../components/dropdown/dropdown-choose
		include ../components/pagination
		include ../components/dropdown/date/filter-date-dropdown
		include ../components/dropdown/date/date-dropdown
		include ../components/dropdown/date/date-dropdown--selected
		include ../components/slider
		include ../components/comment
		.cards
			.cards__column
				ul.cards__list
					li.cards__item
						+search()
					li.cards__item
						+register()
				ul.cards__list
					li.cards__item
						+register()
					li.cards__item
						+login()
				ul.cards__list
					li.cards__item
						+register()
					li.cards__item
						+register()
					li.cards__item
						+register()