doctype html
html(lang='ru')
	head
		title Header and Footer
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body.wrapper-UI.wrapper-UI--background--write
		.header-UI
			.header-UI__logo
				img(src=require('../../assets/img/logo/logo__grey.svg').default, alt="")
		.grid
			.row
				.column
					ul.elements
						li.elements__item
							include ../elements/text-field/text-field
						li.elements__item
							include ../elements/text-field/text-field--hover-focus
						li.elements__item
							include ../components/dropdown/guests/guests-dropdown
						li.elements__item
							include ../elements/text-field/text-field--masked
						li.elements__item.elements__item--row
							include ../components/dropdown/date/date-dropdown
							include ../components/dropdown/date/date-dropdown--selected
						li.elements__item
							include ../components/dropdown/date/filter-date-dropdown
						li.elements__item
							include ../elements/text-field/text-field--subscription
				.column.column--middle
					ul.elements
						li.elements__item.elements__item--middle
							include ../components/checkbox/checkbox-list
						li.elements__item.elements__item--middle
							include ../components/radio-group
						li.elements__item.elements__item--middle
							include ../components/toggle-group
						li.elements__item.elements__item--middle
							include ../components/like-group
						li.elements__item.elements__item--middle
							include ../components/rating-group
				.column
					ul.elements
						li.elements__item
							include ../elements/text-field/text-field
						li.elements__item
							include ../elements/text-field/text-field--hover-focus
						li.elements__item
							include ../components/dropdown/guests/guests-dropdown
						li.elements__item
							include ../elements/text-field/text-field--masked
						li.elements__item.elements__item--row
							include ../components/dropdown/date/date-dropdown
							include ../components/dropdown/date/date-dropdown--selected
						li.elements__item
							include ../components/dropdown/date/filter-date-dropdown
						li.elements__item
							include ../elements/text-field/text-field--subscription
			.row
				.column
					ul.elements
						li.elements__item
							include ../components/dropdown/rooms/rooms-dropdown
						li.elements__item
							include ../components/dropdown/rooms/rooms-dropdown--expanded
						li.elements__item
							include ../elements/buttons/checkbox/checkbox-drop-list
							+checkbox-list(true)
						li.elements__item
							+checkbox-list(false)
						li.elements__item
							include ../elements/other/details.pug
							+details('Комфорт', 'Шумопоглощающие стены', 'comfort.svg')
						li.elements__item
							+details('Удобство', 'Окно в каждой из спален', 'convenience.svg')
						li.elements__item
							div#slider
							
							
				.column.column--double
					.row
						.column
							ul.elements
								li.elements__item
									include ../components/dropdown/guests/guests-dropdown--expanded
								li.elements__item.elements__item--paddTop
									include ../components/checkbox/checkbox-list--rich
						.column
							ul.elements
								li.elements__item
									include ../components/dropdown/guests/guests-dropdown--selected
								li.elements__item.elements__item--paddTop
									include ../elements/other/bullet-list
					.row
