doctype html
html(lang='ru')
	head
		title Header and Footer
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body.wrapper-UI.wrapper-UI--background--write
		.header-UI
			.header-UI__logo
				img(src=require('../../assets/img/logo/logo__grey.svg').default, alt="")
		.grid
			.row
				.column
					//- Mixins
					include ../elements/component
					include ../elements/other/details.pug
					include ../elements/text-field/text-field 
					include ../components/dropdown/rooms/rooms-dropdown
					include ../components/dropdown/guests/guests-dropdown
					ul.elements
						li.elements__item
							+component('Text Field', 'Default')
							+text-field('text', 'Email')
						li.elements__item
							+component('Text Field', 'Hover / Focus')
							+text-field('text', 'Просто текст', 'This is pretty awesome', 'text-field__input--active')
						li.elements__item
							+component('Dropdown') 
							+dropdownGuest(['Сколько гостей', 0, 0, 0], false)
						li.elements__item
							+component('masked text field', 'Default')
							+text-field('text', 'ДД.ММ.ГГГГ')
						li.elements__item.elements__item--row
							include ../components/dropdown/date/date-dropdown
							include ../components/dropdown/date/date-dropdown--selected
						li.elements__item
							include ../components/dropdown/date/filter-date-dropdown
						li.elements__item
							include ../elements/text-field/text-field--subscription
				.column.column--middle
					ul.elements
						li.elements__item.elements__item--middle
							include ../components/checkbox/checkbox-list
						li.elements__item.elements__item--middle
							include ../components/radio-group
						li.elements__item.elements__item--middle
							include ../components/toggle-group
						li.elements__item.elements__item--middle
							include ../components/like-group
						li.elements__item.elements__item--middle
							include ../components/rating-group
				.column
					ul.elements
						li.elements__item
						li.elements__item
						li.elements__item
							+component('Dropdown') 
							+dropdownGuest(['Сколько гостей', 0, 0, 0], false)
						li.elements__item
							include ../elements/text-field/text-field--masked
						li.elements__item.elements__item--row
							include ../components/dropdown/date/date-dropdown
							include ../components/dropdown/date/date-dropdown--selected
						li.elements__item
							include ../components/dropdown/date/filter-date-dropdown
						li.elements__item
							include ../elements/text-field/text-field--subscription
			.row
				.column
					ul.elements
						li.elements__item
							+component('dropdown', 'Default', 'max-width: 266px')
							+dropdownRoom(['2 спальни, 2 кровати, без ванных комнат', 2, 2, 0], false)
						li.elements__item
							+component('dropdown', 'Default', 'max-width: 266px')
							+dropdownRoom(['2 спальни, 2 кровати, без ванных комнат', 2, 2, 0], true)
						li.elements__item
							include ../elements/buttons/checkbox/checkbox-drop-list
							+checkbox-list(false)
						li.elements__item
							+checkbox-list(true)
						li.elements__item
							+details('Комфорт', 'Шумопоглощающие стены', 'comfort.svg')
						li.elements__item
							+details('Удобство', 'Окно в каждой из спален', 'convenience.svg')
						li.elements__item
							
							
				.column.column--double
					.row
						.column
							ul.elements
								li.elements__item
									+component('Dropdown') 
									+dropdownGuest(['Сколько гостей', 0, 0, 0], true)
								li.elements__item.elements__item--paddTop
									include ../components/checkbox/checkbox-list--rich
						.column
							ul.elements
								li.elements__item
									+component('Dropdown') 
									+dropdownGuest(['3 Гостя', 2, 1, 0], true)
								li.elements__item.elements__item--paddTop
									include ../components/bullet-list
					.row
