doctype html
html(lang='ru')
	//- Mixins
	include ../elements/element-import
	include ../components/component-import
	include ../modules/module-import
	+head()
	body.wrapper
		+logo('grey')
		.header-footer
			ul.header-footer__list
				li.header-footer__item
					header.header
						+header-en
				li.header-footer__item
					header.header
						+header-log
				li.header-footer__item
					footer.footer
						+footer-en
				li.header-footer__item
					footer.footer
						+footer-simple