doctype html
html(lang='ru')
	include ../modules/head
	body
		.wrapper
			header.header.container
				include ../modules/header/header
			main.main.main--wrapper-background
				div.main__body.body-main.container
					include ../modules/main
			footer.footer
				include ../modules/footer/footer
