doctype html
html(lang='ru')
	//- Mixins
	include ../elements/element-import
	include ../components/component-import
	include ../modules/module-import
	+head()
	body.wrapper
		.inner
			+header()
			main.main.main--wrapper-background
				.main__body.body-main.container
					form.body-main__form
						+search()
					p.body-main__epigraph.epigraph-main Лучшие номера для вашей работы, отдыха и просто вдохновения
			+footer()
			+footer-copyright('Copyright © 2018 Toxin отель. Все права зачищены.')
