label.like
	input.like__input(type='checkbox', value='value-toggle' checked)
	span.like__box
	span.like__text
		| 12

label.like
	input.like__input(type='checkbox', value='value-toggle')
	span.like__box
	span.like__text
		| 2