mixin footer-simple()
	.container
		.footer-creative
			.footer-creative__logo
				img(src=require('../../../assets/img/logo/logo.svg').default, alt="#")
				p.footer-creative__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
			.footer-creative__socials
				img(src=require('../../../assets/img/social/twiter.svg').default, alt="")
				img(src=require('../../../assets/img/social/facebook.svg').default, alt="")
				img(src=require('../../../assets/img/social/instagram.svg').default, alt="")