mixin footer-simple()
	footer.footer.container.flex
		.footer-simple
			.footer-simple__logo
				+logo('default')
				p.footer-simple__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
			.footer-simple__socials
				+socials()