mixin footer-copyright(text='Copyright &copy;&nbsp;2018 Toxin UI&nbsp;Kit. All rights reserved.')
	.copyright
		.copyright__inner
			p.copyright__text!= text
			.copyright__socials
				+socials()