mixin footer-en()
	.footer-border
		footer.footer.container.flex
			ul.footer__list
				li.footer__item.footer-logo
					+logo('default')
					p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
				li.footer__item.footer-navigation
					ul.footer-navigation__list
						li.footer-navigation__item
							h3.footer-navigation__title Navigation
							ul.footer-navigation__links.footer-links
								li.footer-links__item
									a(href="") About Us
								li.footer-links__item
									a(href="") News
								li.footer-links__item
									a(href="") Support
								li.footer-links__item
									a(href="") Products
						li.footer-navigation__item
							h3.footer-navigation__title ABOUT US
							ul.footer-navigation__links.footer-links
								li.footer-links__item
									a(href="") Who we are
								li.footer-links__item
									a(href="") Our team
								li.footer-links__item
									a(href="") Careers
								li.footer-links__item
									a(href="") Investors
						li.footer-navigation__item
							h3.footer-navigation__title Support
							ul.footer-navigation__links.footer-links
								li.footer-links__item
									a(href="") Documentation
								li.footer-links__item
									a(href="") Community
								li.footer-links__item
									a(href="") Get in Touch
				li.footer__item.footer-subscribe
					h3.footer-subscribe__title Subscribe to our newsletter
					p.footer-subscribe__text Receive our latest news and promotions in&nbsp;your inbox!
					form.footer-subscribe__form(action="#")
						+text-field-subscribe('Your email address')
