.container
	.footer-creative
		.footer-creative__logo
			img(src="assets/img/logo.svg", alt="#")
			p.footer-creative__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		.footer-creative__socials
			img(src="assets/img/twiter.svg", alt="")
			img(src="assets/img/facebook.svg", alt="")
			img(src="assets/img/instagram.svg", alt="")
